#home{
    justify-content: center;
    background-color: beige;
    padding: 10px;
    border: solid 1px #bbb;
}

ul{
    border: solid 1px #bbb;
    padding: 5px;
    margin:5px;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

ul li{
    border: solid 1px #bbb;
    padding: 5px;
    margin: 3% 35%;
    color: black;
}

main{
    border: solid rgb(90, 90, 30) 1px;
    padding: 5% 0%;
    margin: 5%;
    background-color: beige;
}

main label,span{
    color: black;
    margin: 5px;
}